/* Hero image from https://codetheweb.blog/2017/12/07/fullscreen-image-hero/ */
body {
    margin: 0;
    font-family: sans-serif;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://vignette.wikia.nocookie.net/nintendo/images/4/43/HGSS_Kanto.png/revision/latest?cb=20141013102223&path-prefix=es');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 10pxem;

    /* Margins */
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    height: 100px;

    /* Padding and margins */
    margin-top: 50px;
    margin-left: auto;
    margin-right: 60px;

    /* Text styles */
    color: red;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;

    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;

    /* Background styles */
    background-color: black;
}

.left {
    left:400px;
}
